@import "tailwindcss";

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: #1a1a1a;
  --color-light: #4a4a4a;
  --color-mid: #3a3a3a;
  --color-dark: #2a2a2a;
}

@theme inline {
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
body {
  overflow-x: hidden;
}
